<nav class="h500 w50">
    <div class="up-section">
        <button class="span-content" id="btn-vista">
            <img src="/components/barra_de_navegacion/img/no_view.svg" alt="no_view" />
        </button>
    </div>
    <div class="botton-section">
        <span class="span-item">
            <img src="/components/barra_de_navegacion/img/home.svg" alt="home" />
            <p class="view-md">Home</p>
        </span>
        <span class="span-item">
            <img src="/components/barra_de_navegacion/img/servicios.svg" alt="servicios" />
            <p class="view-md">Servicios</p>
        </span>
        <span class="span-item">
            <img src="/components/barra_de_navegacion/img/eventos.svg" alt="eventos" />
            <p class="view-md">Eventos</p>
        </span>
        <span class="span-item">
            <img src="/components/barra_de_navegacion/img/ubicacion.svg" alt="ubicacion" />
            <p class="view-md">Ubicacion</p>
        </span>
        <span class="span-item">
            <img src="/components/barra_de_navegacion/img/team.svg" alt="team" />
            <p class="view-md">Team</p>
        </span>
        <span class="span-item">
            <img src="/components/barra_de_navegacion/img/mision_and_valores.svg" alt="mision_and_valores" />
            <p class="view-md">MVV</p>
        </span>
        <span class="span-item">
            <img src="/components/barra_de_navegacion/img/apyar.svg" alt="apyar" />
            <p class="view-md">Socios</p>
        </span>
    </div>
</nav>